/* projeto_brisa/static/css/main.css */

body {
   
    background-color: #000000; 
}

/*
  Futuramente, aqui entrarão seus estilos reutilizáveis.
  Exemplo:
  .btn-custom {
    background-color: #5d3dff;
    color: white;
  }
*/